/Solucion_Codigo/ejercicio1_Xproductos/ejercicio1_Xproductos/nbproject/private/
/Solucion_Codigo/ejercicio1_Xproductos/ejercicio1_Xproductos/build/
/Solucion_Codigo/ejercicio2_Empleados/nbproject/private/
